
h1
{
margin: 0 auto;
  font-family: "verdana";
  font-size: 42px;
  text-align: left;
  letter-spacing: 4px;
  color: #203c14;
  margin-bottom:
  background-color: #fcf4e4;
}

h2
{
  margin: 0 auto;
  font-family: "tahoma";
  font-size: 35px;
  text-align: left;
  color: #203c14;
  margin-bottom:
  background-color: #fdfdf5;
}



p
{
  width: 1300px;
    text-align: left;
  font-family: tahoma;
  letter-spacing: 1.5px;
  font-size: 22px;
  color: #203c14;
  background-color: #fdfdf5;
}



body {
  width: 1300px;
    text-align: left;
    margin: 0 auto;
  background-color: #fdfdf5;

}

/* unvisited link */
a:link {
  color: #203c14;
}

/* visited link */
a:visited {
  color: #203c14;
}

/* mouse over link */
a:hover {
  color: #203c14;
}

/* selected link */
a:active {
  color: #203c14;
}


/* This is a single-line comment */
