
h1
{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10%;
  margin-left: 10%;

  font-family: "helvetica";
  font-size: 60px;
  text-align: left;
  color: #fcfcfc;
  margin-bottom:
  background-color: #20242c;
}

h2
{
  margin-top: 20px;
 margin-bottom: 20px;
 margin-right: 10%;
 margin-left: 10%;
  font-family: "helvetica";
  font-size: 35px;
  text-align: left;
  color: #a8c49c;
  margin-bottom:
  background-color: #38343c;
}



p
{
  margin-top: 20px;
 margin-bottom: 20px;
 margin-right: 10%;
 margin-left: 10%;
  font-family: verdana;
  font-size: 35px;
  color: #949cac;
  background-color: #20242c;
}




body {
  margin-top: 20px;
 margin-bottom: 20px;
 margin-right: 10%;
 margin-left: 10%;
  background-color: #20242c;

}



/* This is a single-line comment */
